
.heading{
    width: 100%;
    text-align: left;
}
.heading button{
    float: right;
    border: white;
    border-width: 2px;
    border-style: double;
}
.heading h3{
    display: inline;
}

#start{
    font-size: 20px;
}
#status{
    font-size: 20px;
}
h4{
    
    background-color: rgb(201, 200, 200);
    line-height: 2;
}
.modal-dialog{
    width: 90%;
}
canvas{
 border: 3px solid white;
 box-shadow: 3px 3px 3px white;
}